[submodule "pack/basic/vim-surround"]
	path = pack/basic/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/basic/vim-buftabline"]
	path = pack/basic/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "pack/basic/bufexplorer"]
	path = pack/basic/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "pack/basic/taglist.vim"]
	path = pack/basic/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "pack/basic/vim-test"]
	path = pack/basic/start/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "pack/colorschemes/csapprox"]
	path = pack/colorschemes/start/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "pack/git/vim-fugitive"]
	path = pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/nerd/nerdcommenter"]
	path = pack/nerd/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/nerd/nerdtree"]
	path = pack/nerd/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/nerd/nerdtree-git-plugin"]
	path = pack/nerd/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/python/vim-flake8"]
	path = pack/python/start/vim-flake8
	url = https://github.com/vim-scripts/vim-flake8
[submodule "pack/syntax/vim-vue"]
	path = pack/syntax/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "pack/basic/start/vim-ripgrep"]
	path = pack/basic/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
